# S3 / MinIO
S3_ENDPOINT=https://example-s3-endpoint.com
S3_REGION=us-east-1
S3_ACCESS_KEY=admin
S3_SECRET_KEY=minioadmin
S3_BUCKET=imagens

# Keycloak (for admin protected routes)
KEYCLOAK_SERVER_URL=https://keycloak.example.com
KEYCLOAK_REALM_NAME=your-realm
KEYCLOAK_CLIENT_ID=your-client-id
